@use 'sass:color';

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family-serif: 'Georgia', 'Times New Roman', serif;

$header-font: 'Source Serif Pro', Georgia, serif;

$uoc-corporate: #000078;
$uoc-masterbrand: #cc9725;
$uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);

$blue:    #255acc;
$red:     #dc3545;
$orange:  #cc9725;
$yellow:  #ffc107;
$green:   #198754;
$cyan:    #0dcaf0;
$white:    #ffffff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000000;
$text: #282828;

$primary:       $orange;
$secondary:     $blue;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;

$theme-colors: (
  'primary':    $primary,
  'secondary':  $secondary,
  'success':    $success,
  'info':       $info,
  'warning':    $warning,
  'danger':     $danger,

);

//Variables carousel
$carousel-control-color:             $white;
$carousel-control-width:             15%;


